body
{
    color: goldenrod;
    text-align: center;
    font-family:  Courier;
    display: flex;
    align-content: flex-start;
    align-items: center;
    flex-direction: column;
}
#contenedor p
{
    color: gray;
    text-align: center;
    border: solid black;
    margin: 0;
    align-items: center;
    width: 150px;
}
 #cabecera 
 {
    color: green;
    text-align: left;
    background-color: black;
    font-weight: bold;
    padding: 10px;
 }

body p
{
    color: black;
    text-align: center;
}